pip install appdirs==1.4.3
pip install attrs==19.1.0
pip install black==19.3b0
pip install Click==7.0
pip install cycler==0.10.0
pip install demjson==2.2.4
pip install kiwisolver==1.1.0
pip install matplotlib==3.1.1
pip install nose==1.3.7
pip install numpy==1.17.0
pip install opencv-contrib-python==4.1.0.25
pip install pandas==0.25.1
pip install Pillow==8.2.0
pip install pyparsing==2.4.2
pip install python-dateutil==2.8.0
pip install pytz==2019.2
pip install six==1.12.0
pip install toml==0.10.0
pip install virtualenv==16.7.4
pip install xlrd==1.2.0
pip install xmltodict==0.12.0
pip install yagmail==0.11.220
pip install yapf==0.28.0
